:root {
  --font_body: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font_header: 'Almarai', sans-serif;

  --size_sm: 0.5rem;
  --size_md: 1rem;
  --size_lg: 2rem;
  --size_xl: 4rem;
  --size_xxl: 8rem;

  --anim_duration: 200ms;

  --color_primary_1: #e40c6d;
  --color_primary_2: #c10b5d;
  --color_primary_3: #9a094a;
}

/* LIGHT MODE */
:root {
  --color_bg: #fff;
  --color_bg_hover: #e0e0e0;
  --color_bg_2: #d0d0d0;
  --color_fg: #222;
  --color_fg_2: #777;

}
/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --color_bg: #0c0910;
    --color_bg_hover: #221c2b;
    --color_bg_2: #362f41;
    --color_fg: #fff;
    --color_fg_2: #aaa;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  font: inherit;
  text-decoration: inherit;
  background: 0;
  border: 0;
}

html {
  color: var(--color_fg);
  background-color: var(--color_bg);
}

body {
  font-family: var(--font_body);
}

.bg_bg { background-color: var(--color_bg); }
.borderBottom_sm { border-bottom: solid 1px var(--color_bg_2); }

.w_fill { width: 100%; }
.h_fill { height: 100%; }
.mw_1200 { max-width: 1200px; }

.sticky { position: sticky; z-index: 1; }
.top { top: 0; }

.row { display: flex; }
.col {
  display: flex;
  flex-direction: column;
}

.gap_sm { gap: var(--size_sm); }
.gap_md { gap: var(--size_md); }
.gap_lg { gap: var(--size_lg); }
.gap_xl { gap: var(--size_xl); }
.gap_xxl { gap: var(--size_xxl); }

.gap_fill { justify-content: space-between; }

.pad_sm { padding: var(--size_sm); }
.pad_md { padding: var(--size_md); }
.pad_lg { padding: var(--size_lg); }
.pad_xl { padding: var(--size_xl); }
.pad_xxl { padding: var(--size_xxl); }

.py_sm { padding-top: var(--size_sm); padding-bottom: var(--size_sm); }
.py_md { padding-top: var(--size_md); padding-bottom: var(--size_md); }
.py_lg { padding-top: var(--size_lg); padding-bottom: var(--size_lg); }
.py_xl { padding-top: var(--size_xl); padding-bottom: var(--size_xl); }
.py_xxl { padding-top: var(--size_xxl); padding-bottom: var(--size_xxl); }

.pb_sm { padding-bottom: var(--size_sm); }
.pb_md { padding-bottom: var(--size_md); }
.pb_lg { padding-bottom: var(--size_lg); }
.pb_xl { padding-bottom: var(--size_xl); }
.pb_xxl { padding-bottom: var(--size_xxl); }

.row:where(.center_y) { align-items: center; }
.col:where(.center_y) { justify-content: center; }

.row:where(.center_x) { justify-content: center; }
.col:where(.center_x) { align-items: center; }

.center {
  align-items: center;
  justify-content: center;
}

img { max-width: 100%; height: auto; }

.section__image {
  height: auto;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0,0,0,0.25);
}
.flex { flex-grow: 1; }

.title_logo {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
}
.font_h3 {
  font-family: var(--font_header);
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: -0.05em;
  line-height: 1;
}
.font_h4 {
  line-height: 1.5;
  opacity: 0.95;
}

.title {
  font-family: var(--font_header);
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: -0.05em;
}

.family_header {
  font-family: var(--font_header);
  font-weight: 800;
  letter-spacing: -0.05em;
}

.subtitle {
  color: var(--color_fg_2);
  font-size: 1.25em;
}

.button {
  background-color: var(--color_primary_1);
  padding: 0.75em 1.5em;
  border: 0;
  border-radius: 0.5em;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: background-color var(--anim_duration) ease-in-out;
}

.button--small {
  font-size: 12px;
}

.button:focus {
  outline: dotted 3px var(--color_primary_2);
  outline-offset: 3px;
}

.button:hover {
  background-color: var(--color_primary_2);
}

.button:active {
  background-color: var(--color_primary_3);
}

.button--secondary {
  background-color: var(--color_bg);
  color: var(--color_fg);
  border: solid 1px var(--color_bg_2);
}

.button--secondary:hover {
  background-color: var(--color_bg_hover);
}

.button--secondary:active {
  background-color: var(--color_bg_2);
}

.brand {
  transition: opacity 150ms ease-in-out;
}
.brand:hover {
  opacity: 0.85;
}
.brand__img {
  border-radius: 8px;
  width: 32px;
  height: 32px;
}
.brand__label {
  font-size: 1.5rem;
}

.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.25rem;
  animation: slide 3s alternate-reverse infinite;
  background-color: var(--color_primary_1);
}

@media (prefers-reduced-motion) {
  .bar { animation: none;}
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.responsive { flex-direction: column; }
.responsive.reverse { flex-direction: column; }
@media only screen and (min-width: 960px) {
  .responsive { flex-direction: row; }
  .responsive.reverse { flex-direction: row-reverse; }
}

/* Thank you, CSS tricks: https://css-tricks.com/how-to-create-wavy-shapes-patterns-in-css/
*/
.wave {
  --size: 48px;
  --R: calc(var(--size)*1.28);

  margin-top: calc(var(--size)*-0.5);
  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(1.8*var(--size)),#000 99%,#0000 101%) 
      calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-.8*var(--size)),#0000 99%,#000 101%) 
      50% var(--size)/calc(4*var(--size)) 100% repeat-x;
  background: var(--color_primary_1);
  width: 100%;
  height: 5rem;
}

/* FORM DIALOG */
dialog::backdrop {
  background: rgba(0,0,0,0.75);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border: 0;
  background: transparent;
}

form {
  padding: var(--size_lg);
  border-radius: var(--size_lg);
  background: var(--color_bg);
  border: solid 1 var(--color_bg_2);
  display: flex;
  gap: var(--size_md);
}

form > label {
  display: flex;
  align-items: flex-start;
}

form label {
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-weight: 700;
  width: 360px;
  max-width: 100%;
  align-items: stretch;
}

textarea {
  min-height: 80px;
}

input, textarea {
  border: solid 1px var(--color_bg_2);
  padding: var(--size_sm);
  border-radius: var(--size_sm);
  font-size: inherit;
  font-weight: normal;
}

.form__title {
  font-size: 2rem;
  font-family: var(--family_header);
  font-weight: 800;
  letter-spacing: -0.05em;
}
.form__subtitle {
  color: var(--color_fg_2);
  margin-bottom: 1rem;
}

.footer {
  color: var(--color_fg_2);
  padding: var(--size_lg);
  padding-top: var(--size_xl) ;
  padding-bottom: var(--size_xxl);
}

.link {
  text-decoration: underline;
}